<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<strong>{% trans %}navbar.products{% endtrans %} / {% trans %}navbar.services{% endtrans %}:</strong>
	<span>{{type}}</span>
	<br>
	<br>
	<strong>{% trans %}company{% endtrans %} :</strong>
	<span>{{empresa}}</span>
	<br>
	<br>
	<strong>{% trans %}turn-company{% endtrans %} :</strong>
	<span>{{giro}}</span>
	<br>
	<br>
	<strong>{% trans %}contact-name{% endtrans %} :</strong>
	<span>{{nombre}}</span>
	<br>
	<br>
	<strong>Email :</strong>
	<span>{{email}}</span>
	<br>
	<br>
	<strong>{% trans %}phone{% endtrans %} :</strong>
	<span>{{telefono}}</span>
	<br>
	<br>
	<strong>{% trans %}address{% endtrans %} :</strong>
	<span>{{direccion}}</span>
	<br>
	<br>
	<strong>{% trans %}city{% endtrans %} :</strong>
	<span>{{ciudad}}</span>
	<br>
	<br>
	<strong>{% trans %}comments{% endtrans %} :</strong>
	<p>{{comentarios}}</p>
</body>
</html>



